*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    font-size: 62.5%;
}

.backgroundStart{
    background-color: rgb(34, 34, 34);
}

body {
    font-size: 1.6rem;
}


.card-body1 {
    background-color: #fafafa;
    color: #333;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card-body{
    background-color: RGB(4, 164, 84);
}

.card-text {
    font-size: 1.4rem;
}

#profile-image {
    display: none;
}

#preview-profile-image{
    width: 15rem;
    height: 15rem;
}

.form-label {
    font-size: 2rem;
    color: #fff;
}


.card-tittle{
    font-size: 2.2rem;
    color: #fff;
}

p {
    margin-left: 1rem;
    font-size: 1.8rem;
}

#profile-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.span-required {
    display: none;
    font-size: 1.2rem;
    margin: 3px 0 0 1px;
    color: #fa0101;
}


