*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}


.card-body1 {
    background-color: #fafafa;
    color: #333;
    font-weight: bold;
}

.card-body{
    background-color: RGB(4, 164, 84);
}

.card-text {
    padding: 0rem 1rem;
    font-size: 1.4rem;
}

.card-tittle {
    font-size: 1.6rem;
    color: #fff;
}


#profile-image {
    display: none;
}

#preview-profile-image{
    cursor: pointer;
    width: 15rem;
    height: 15rem;
}

.form-label {
    font-size: 1.4rem;
    color: #fff;
}


.card-tittle{
    font-size: 2.2rem;
    color: #fff;
}

.form-control {
    font-size: 1.2rem !important;
}


p {
    margin-left: 1rem;

}


.btn {
    align-items: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.4rem !important;
}

#profile-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.span-required {
    display: none;
    font-size: 1.2rem;
    margin: 3px 0 0 1px;
    color: #fa0101;
}


