*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.card-body1 {
    background-color: #fafafa;
}

.card-text {
    font-size: 1.5rem;
}


.form-label {
    font-size: 2rem;
    color: #18c75b;
}


.card-tittle{
    font-size: 2.5rem;
}

p {
    font-size: 18px;
}

#profile-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.span-required {
    display: none;
    font-size: 1.2rem;
    margin: 3px 0 0 1px;
    color: #fa0101;
}


